#### Ignore all files that have no extension
# Ignore all
*

# Undo ignore for files that have extension
!*.*

# Undo ignore for directories
!*/


# Binary files
*.bin
*.out

# Build directories
build/
Build/
Release/
Debug/
RelWithDebInfo/

# Editors
*.swp
.vscode/

# Logs
*.out
*.log
compile_commands.*